.prompt {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.prompt-message {
  width: 100%;
  height: 80%;
  resize: none;
  color: #0A3871;
  font-size: 32px;
}

.prompt-message::placeholder {
  color: #0A3871;
  opacity: 1;
}


.enc-dec-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enc-dec-buttons > button {
  flex-grow: 1;
}

.warning-message {
  margin-left: 12px;
  align-self: flex-start;
  color: #495057;
}

.exclamation-circle{
  margin-right: 6px;
}

.prompt input {
  font-size: 1.2em;
}

.encode-button {
  font-size: 16px;
  color: white;
}

.decode-button {
  font-size: 16px;
  color: #0A3871;
}

.error-message {
  color: #0A3871;
}